@font-face {
    font-family: Monument-Regular;
    src: url(./resources/font/MonumentExtended-Regular.otf);
}

@font-face {
    font-family: Monument-Ultrabold;
    src: url(./resources/font/MonumentExtended-Ultrabold.otf);
}


*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    height: 100%;
    background-color: rgb(247, 247, 247);
    width: 100%;
}


#main{
    height: 100%;
    padding-top: 0.1px;
    width: 100%;
}

#nav{
    margin-top: 40px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 12%;
} 

#nav h1{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Monument-Ultrabold;
    font-size: 45px;
    font-weight: bolder;
    letter-spacing: -3px;
}


#nav h3{
    width: 22%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    font-size: 28px;
    font-weight: 600;
}

#nav h3:nth-last-child(2){
    width: 29%;
}

#nav h3:nth-last-child(1){
    width: 10%;
}

#content{
    width: 100%;
    height: 80%;
    padding: 5vw;
}

#center{
    width: 100%;
    position: relative;
    height: 100%;
}

#center video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#overlay{
    height: 52%;
    width: 100%;
    position: absolute; 
    padding: 3vw;
    bottom: 0;
}

.over-ele{
    display: flex;
    justify-content: space-between;
    color: #fff;
}

#over1{
    margin-bottom: 2vw;
}
 
#over1 h1{
    font-family: Monument-Ultrabold;
    font-size: 3.6vw; 
}

#over1 h2{
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0vw 3vw;
    border-radius: 50%;
    border: 2px solid #fff;
}

#over2{
    border-top: 2px solid #fff;
    padding: 1.5vw 0;
}

#over2{
    font-size: 1.3vw;
    font-weight: 500;
}

#over2 img{
    height: 3vw;
}

#scroll{
    height: 40vh;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 2vw 1vw;
    background-color: #fff;
}

#container{
    flex-shrink: 0;
    display: inline-block;
    height: 100%; 
    animation-name: anime;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll::-webkit-scrollbar{
    display: none;
}

#container img{
    width: 33vh;
    height: 33vh;
    padding: 1vw;
    object-fit: cover;
    border-radius: 50%;
    object-position: top;
    
}

#alphabets{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#alphabets h5{
    font-size: 1.7vw;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 2px;
    margin-right: 1vw;
    border-bottom: 2px solid #000;

}

#alphabets h6{
    font-size: 1vw;
    padding: .5em .75em ;
    border-radius: 50%;
    border: 2px solid #00000000;
    cursor: pointer;
}

#alphabets h6:hover{
    border: 2px solid #000;
}

.page{
    width: 100%;
    height: 100%;
}

#page2{
    display: flex;
    padding: 5vw 3.6vw;
    align-items: center;
    justify-content: space-around;
}

#part1{
    height: 100%;
    width: 55%;
}

#part1 img{
    width: 100%;
    height: 110%;
    object-fit: cover;
}

#part1 h1{
    font-family: Monument-Ultrabold;
    font-size: 3vw;
    text-transform: uppercase;
    padding: 1vw 0;
}

#part2{
    width: 37%;
    height: 100%;
}

#part2 img{
    width: 100%;
    height: 85%;
    object-fit: cover;
    display: unset;

}

#part2 #content{
    display: flex;
    justify-content: space-between;
    padding: 2vw 0;

}

#content h4{
    width: 38%;
    font-size: 1.7vw;
    height: max-content;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

#content p{
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
    font-weight: 500;
    font-size: 1.13vw;
    line-height: 1.2vw;
}


#page3{
    padding: 17.5vh 4vw 5vh 5vw;
    display: flex;
    justify-content: space-between;
}

#page3 #left{
    width: 38%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#page3 #left img{
    width: 80%;
    padding: 4vw;
    align-self: center;
    margin: auto;
}

#page3 #left h4{
    padding: 0 3vw;
    font-size: 1.6vw;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#page3 #right{
    width: 59%;
    height: 100%;
    background-color: cyan;
}

#page3 #right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 45%;
}


#page4{
    height: 85%;
    padding: 3vw 5vw;
}

#page4 img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: 0 9%;
}

#page5{
    padding: 5vh 5vw;
}

#page5 > h1{
    font-family: Monument-Ultrabold;
    font-size: 3vw;
    text-align: center;
    padding: 2vh 2vw 10vh 2vw;;
}

.page5-ele{
    height: 15vh;
    width: 100%;
    border-top: 2px solid #000;
    padding: 1vh 0;
    display: flex;
    justify-content: space-between;
}

.page5-ele:nth-last-child(1){
    border-bottom: 2px solid #000;

}

.page5-ele h5{
    text-transform: uppercase;
    font-size: 1.3vw;
    width: 5vw;
    margin-top: 1vh;
    margin-left: 3vw;
    font-weight: 500;
}

.page5-ele #img{
    width: 40%;
    padding: 0 3vw;
}

.page5-ele img{
    object-fit: cover;
    border-radius: 50%;
    opacity: 0;
    height: 100%;
    object-position: top;
}

#img:hover img{

    animation-name: img-hover;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

.page5-ele h1{
    width: 45%;
    font-weight: 400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.page5-ele > h1::after{
    text-transform: uppercase;
    font-size: 1.3vw;
    font-weight: 400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page5-ele h3{
    width: 20%;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
}

.page5-ele h3::after{

    content: "2020 redesign";
    font-size: 1vw;
    text-transform: uppercase;
}

.page5-ele:nth-child(1) h1::after{
    content: "25 March 2020";
}

.page5-ele:nth-child(2) h1::after{
    content: "3rd February 2020";
}

.page5-ele:nth-child(3) h1::after{
    content: "4th January 2020";
}

.page5-ele:nth-child(4) h1::after{
    content: "8Th January 2020";
}







@keyframes anime {
    from{
        transform: translateX (0);
    }
    to{
        transform: translateX(-100% );
    }
}

@keyframes img-hover {
    0%{
        opacity: 0;
        margin-left: 0;
    }

    100%{
        opacity: 1;
        margin-left: 35%;
    }
}